<!DOCTYPE html>
<html>
  <head>
  <%= render 'layouts/head'%>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <body>
      <div class="container">
        <%= yield %>
      </div>
      <%= render 'layouts/footer'%>
    </body>
  </body>
</html>
